.onsale{
  background-color: green;
}

.notonsale{
  background-color:red;
}

div{
  float:left;
  display:flex;
  align-self: center;
  justify-content: center;
  width:300px;
}

.newline{
  clear:both;
}

img {
  height:auto;
  width:100px;
}